In [1]:
import pandas as pd

In [173]:
filebrands= pd.read_csv("brands.csv")
filebrands.head(5)

#drop the short column
#filebrands.drop(["short"], axis=1)

  short       long
0   8MO  8Mobility
1   ACM       Acme
2   ADN     Adonit
3   AII      Aiino
4   AKI     Akitio

In [171]:

fileorderlines= pd.read_csv("orderlines.csv")
print(fileorderlines)

             id  id_order  product_id  product_quantity      sku unit_price  \
0       1119109    299539           0                 1  OTT0133      18.99
1       1119110    299540           0                 1  LGE0043     399.00
2       1119111    299541           0                 1  PAR0071     474.05
3       1119112    299542           0                 1  WDT0315      68.39
4       1119113    299543           0                 1  JBL0104      23.74
...         ...       ...         ...               ...      ...        ...
293978  1650199    527398           0                 1  JBL0122      42.99
293979  1650200    527399           0                 1  PAC0653     141.58
293980  1650201    527400           0                 2  APP0698       9.99
293981  1650202    527388           0                 1  BEZ0204      19.99
293982  1650203    527401           0                 1  APP0927      13.99

                       date
0       2017-01-01 00:07:19
1       2017-01-01 00:19:45
2       2017-01-01 00:20:57
3       2017-01-01 00:51:40
4       2017-01-01 01:06:38
...                     ...
293978  2018-03-14 13:57:25
293979  2018-03-14 13:57:34
293980  2018-03-14 13:57:41
293981  2018-03-14 13:58:01
293982  2018-03-14 13:58:36

[293983 rows x 7 columns]

In [166]:
#fileorderlines.info()
#orderlines.describe()
#orderlines.columns
#fileorderlines.value_counts('id_order')

In [167]:
fileorders= pd.read_csv("orders.csv")

fileorders.head(10) 
#orders.state.value_counts()
#fileorders.value_counts('state')

   order_id         created_date  total_paid      state
0    241319  2017-01-02 13:35:40       44.99  Cancelled
1    241423  2017-11-06 13:10:02      136.15  Completed
2    242832  2017-12-31 17:40:03       15.76  Completed
3    243330  2017-02-16 10:59:38       84.98  Completed
4    243784  2017-11-24 13:35:19      157.86  Cancelled
5    245275  2017-06-28 11:35:37      149.00  Completed
6    245595  2017-01-21 12:52:47      112.97  Completed
7    245851  2017-04-04 20:58:21       79.99    Pending
8    245941  2017-01-01 10:32:23      183.52  Completed
9    246018  2017-02-13 23:02:57      211.95  Completed

In [149]:


fileproducts= pd.read_csv("products.csv")

In [154]:
#print(fileproducts)
fileproducts.head(10)
#products.isna().any()
#products.isna().sum()
#products.value_counts().sum()

,sku,name,desc,price,promo_price,in_stock,type
0,RAI0007,Silver Rain Design mStand Support,Aluminum support compatible with all MacBook,59.99,499.899,1,8696
1,APP0023,Apple Mac Keyboard Keypad Spanish,USB ultrathin keyboard Apple Mac Spanish.,59,589.996,0,13855401
2,APP0025,Mighty Mouse Apple Mouse for Mac,mouse Apple USB cable.,59,569.898,0,1387
3,APP0072,Apple Dock to USB Cable iPhone and iPod white,IPhone dock and USB Cable Apple iPod.,25,229.997,0,1230
4,KIN0007,Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM,2GB RAM Mac mini and iMac (2006/07) MacBook Pr...,34.99,31.99,1,1364
5,APP0073,Apple Composite AV Cable iPhone and iPod white,IPhone and iPod AV Cable Dock to Composite Video.,45,420.003,0,1230
6,KIN0008,Mac Memory Kingston 1GB 667MHz DDR2 SO-DIMM,1GB RAM Mac mini and iMac (2006/07) MacBook Pr...,18.99,146.471,0,1364
7,KIN0009,Mac Memory Kingston 2GB 800MHz DDR2 SO-DIMM,2GB RAM iMac with Intel Core 2 Duo (Penryn).,36.99,274.694,0,1364
8,KIN0001-2,Mac memory Kingston 4GB (2x2GB) 667MHz DDR2 SO...,RAM 4GB (2x2GB) Mac mini and iMac (2006/07) Ma...,74,669.904,0,1364
9,APP0100,Apple Adapter Mini Display Port to VGA,Adapter Mini Display Port to VGA MacBook and M...,35,330.003,0,1325

In [138]:
import glob

all_files =glob.glob('file*.csv')

df_list =[]
for filename in all_files:
    df_list.append(pd.read_csv(filename))
    
df_all = pd.concat(df_list)

print(df_all.head(5))
#print(len(df_all))

       sku                                           name  \
0  RAI0007              Silver Rain Design mStand Support
1  APP0023              Apple Mac Keyboard Keypad Spanish
2  APP0025               Mighty Mouse Apple Mouse for Mac
3  APP0072  Apple Dock to USB Cable iPhone and iPod white
4  KIN0007    Mac Memory Kingston 2GB 667MHz DDR2 SO-DIMM

                                                desc  price promo_price  \
0       Aluminum support compatible with all MacBook  59.99     499.899
1          USB ultrathin keyboard Apple Mac Spanish.     59     589.996
2                             mouse Apple USB cable.     59     569.898
3              IPhone dock and USB Cable Apple iPod.     25     229.997
4  2GB RAM Mac mini and iMac (2006/07) MacBook Pr...  34.99       31.99

   in_stock      type
0         1      8696
1         0  13855401
2         0      1387
3         0      1230
4         1      1364